<% include ./partials/header.ejs %>
                <ul class = "nav navbar-nav">
                    <li><a href = "/home/">Home</a></li>
                    <li><a href ="/diet/">Eat</a></li>
                    <li><a href ="/work/">Work</a></li>
                    <li class = "active"><a href ="/study/">Study</a></li>
                </ul>
            </div>
        </nav>        
        
        <!-- jumbotron -->
        <div class="container">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span>The Power Of Citing Your Work</h1>    
        </div> <!--  jumbo -->
        
        
          <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-custom">
                    <h3 class ="panel-title">Purpose of This Page</h3>
                </div>
                
                <div class="panel-body">
                    <p>The purpose of this page will be revised to include a list of muscles, and exercise groups that best interact with them.
                    However, I felt like this was the page to actually cite all the works cited here so I don't get in trouble for plagiarism!</p>
        
                </div>
        </div>
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-custom">
                    <h3 class ="panel-title">Sources</h3>
                </div>
                
                <div class="panel-body">
                    
                    <div style="height:200px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                        <p><a href = "http://www.ucdenver.edu/research/CCTSI/programs-services/ctrc/Nutrition/Documents/Estimating%20Energy%20Expenditure.pdf">http://www.ucdenver.edu/research/CCTSI/programs-services/ctrc/Nutrition/Documents/Estimating%20Energy%20Expenditure.pdf</a></p>
                        <p><a href = "https://www.pexels.com/photo/woman-measuring-her-waist-1332189/">https://www.pexels.com/photo/woman-measuring-her-waist-1332189/</a></p>
                        <p><a href = "https://www.pexels.com/photo/person-standing-in-front-of-green-and-gray-barbell-1092873/">https://www.pexels.com/photo/person-standing-in-front-of-green-and-gray-barbell-1092873/</a></p>
                        <p><a href = "https://www.pexels.com/photo/binder-clean-cover-design-479818/">https://www.pexels.com/photo/binder-clean-cover-design-479818/</a></p>
                        <p><a href = "https://www.reddit.com/r/Fitness/wiki/recommended_routines">https://www.reddit.com/r/Fitness/wiki/recommended_routines</a></p>
                        <p><a href = "https://www.mensjournal.com/health-fitness/hotel-gym-workout">https://www.reddit.com/r/Fitness/wiki/recommended_routines</a></p>
                        <p><a href = "https://getbootstrap.com/docs/3.3/components/">https://getbootstrap.com/docs/3.3/components/"</a></p>
                        <p><a href = "https://fontawesome.com/">https://fontawesome.com/</a></p>
                        <p><a href = "https://fontawesome.com/">https://www.nerdfitness.com/blog/how-to-determine-your-perfect-workout-plan/</a></p>
                        <p><a href = "https://www.reputationsquad.com/about">https://www.reputationsquad.com/about (color scheme)</a></p>
                    </div>
                </div>
        </div>
<% include ./partials/footer.ejs %>