<% include ./partials/header.ejs %>     
      <ul class = "nav navbar-nav">
          <li><a href = "/home/">Home</a></li>
          <li><a href ="/diet/">Eat</a></li>
          <li class = "active"><a href ="/work/">Work</a></li>
          <li><a href ="/study/">Study</a></li>
      </ul>
  </div>
</nav>        

<!-- jumbotron -->
<div class="container">
  <div class="jumbotron">
      <h1><i class="fas fa-dumbbell"></i>   The Power Of Exercise</h1>    
</div> <!--  jumbo -->

  <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-custom">
                    <h3 class ="panel-title">Exercise - There's Just So Much To Do!</h3>
                </div>

                <div class="panel-body">
                  <p>
                    A pitfall that even people in the intermediate and advanced levels of fitness disciplines fall into is trying to "min/max" themselves, their exercise, their nutrition, etc.
                    Do not allow yourself to fall into the trap of premature optimization. You do not need to have a personalized or "fine tuned" diet and routine to achieve your goals unless 
                    you are preparing to compete on a world class/Olympic level, and trying to operate at that level of micromanagement right out of the gate is a great way to stress yourself 
                    out and fall off the wagon.

                    <p>Don't try to major in the minors. Get the basics down first:</p>
                   <ul class="list-group">
                    <li class="list-group-item">Eating an appropriate amount of calories and protein</li>
                    <li class="list-group-item">Genuinely working hard at an exercise routine</li>
                    <li class="list-group-item">Getting enough sleep</li>
                    <li class="list-group-item">Doing all of the above with consistency</li>
                    <li class="list-group-item">Being honest with yourself about the amount of effort, commitment and consistency you are putting in to your fitness</li>
                    <li class="list-group-item">Sticking with your program!</li>
                  </ul>
                  </p>
                     Source: <a href ="https://www.reddit.com/r/Fitness/wiki/recommended_routines" target = "__blank">Fitness Subreddit</a>
                </div>
        </div>
        
        
         <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-custom">
                    <h3 class ="panel-title">Picking A Program</h3>
                </div>

                <div class="panel-body">
                  <p>
                    If you've spent any time on Google and have looked for a workout program, you'll notice a few trends.
                    
                    <ol>
                      <li>Websites generally like to overhype 30-60-90 day workouts</li>
                      <li>These programs always seem like too much work</li>
                      <li>No website seems to have figured out the <em>perfect</em> workout</li>
                    </ol>
                  </p>
                  
                  <p>
                    The issue is that there is no "right" program out there. The perfect program for you is the program that fits YOUR goals.
                    The perfect program isn't a super trendy program, but rather the one you can stick with.  That's why it <strong>it doesn't really matter which program you start with.</strong>
                    All that matters is that you're consistent with it and you enjoy it.  Exercise has been proven to:
                     <ol>
                      <li>Improve mood</li>
                      <li>Boost energy</li>
                      <li>Promote better sleep</li>
                      <li>Broaden your social circle</li>
                    </ol>
                    
                  </p>
                  
                  <p>
                  But again, diet is probably most of what will drive your progress on the scale.  Abs are made in the gym, revealed in the kitchen.  You cannot outrun a bad diet.
                  But the exercise makes everything easier.
                  
                  So of the very small programs you'll see below (I'll expand on this when I learn databases), just remember, just pick one and try it. Have fun with it!
                    
                  </p>
                 
                  Source: <a href="https://www.nerdfitness.com/blog/how-to-determine-your-perfect-workout-plan/" target = "__blank">Nerd Fitness</a>
              </div>
        </div>




<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Barbells Programs
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Greyskull LP - A simple beginner's linear progression program. Phrak's variant is a simple, commonly used implementation. A 3 day or A/B routine.</p>
        <p>GZCLP - A linear progression template derived from powerlifter and r/Fitness regular Cody LeFever's GZCL Method.</p>
        <p>nSuns LP - A linear progression focused program based on elements of 5/3/1, created by r/Fitness regular 2-Suns. Comes in 4 day, 5 day and 6 day variations. See r/nSuns for more.</p>
        Source: <a href ="https://www.reddit.com/r/Fitness/wiki/recommended_routines" target = "__blank">Fitness Subreddit</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          BodyWeight Programs
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>BWF Routine - The recommended routine from r/BodyWeightFitness. Provides many variations of the classic bodyweight movements for different levels of strength and skill.</p>
        <p>BWF 'Move' Routine - Alternative routine from r/BodyWeightFitness meant to take you through your first two years of training.</p>
        <p>BWF Minimalist Routine - A bare-bones bodyweight circuit from r/BodyWeightFitness.</p>
        Source: <a href ="https://www.reddit.com/r/Fitness/wiki/recommended_routines" target = "__blank">Fitness Subreddit</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Hotel Programs
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>
          Perform each exercise consecutively, with minimal rest between exercises.  Rest 90 seconds between circuits.  Do 3 circuits.
          Select weights that challenge you but don't punish you.  If you can't do 6+, too heavy.  If you can do 20+, too light!
        </p>
        
        
        <ul class="list-group">
          <li class="list-group-item">Dumbbell Goblet Squat x (10-15)</li>
          <li class="list-group-item">Plank (30-90 seconds)</li>
          <li class="list-group-item">Bentover Dumbbell Row  x (10-15)</li>
          <li class="list-group-item">Dumbbell Romanian Deadlift  x (10-15)</li>
          <li class="list-group-item">Russian Twist(20, both sides)  x (10-15)</li>
          <li class="list-group-item">Dumbbell Bench Press  x (10-15)</li>
        </ul>
        
        Source: <a href = https://www.mensjournal.com/health-fitness/hotel-gym-workout target="_blank">Men's Journal Hotel Workout </a>
        
      </div>
    </div>
  </div>

<% include ./partials/footer.ejs %>    